<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AmazingLifeStory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA4535661E57EADA00DFA326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4535771E57EADB00DFA326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA4535821E57EADB00DFA326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
